{% extends 'base.html.twig' %}

{% block body %}
    <header>
        
    </header>
    
    <nav class="MainMenu">
        <ul>
            <li>Menu</li>
            <li>Artykuły</li>
            <li>O nas</li>
        </ul>
    </nav>
    
    <div>
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </div>
    
    <div class="chart-container" style="position: relative; height:40vh; width:40vw">
        <h1>Wykres1</h1>
        
        <canvas id="myChart"></canvas>
        
    </div>
    
    
{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Chart.js') }}"></script>
    <script src="{{ asset('js/chartDraw.js') }}"></script>
    <script src="{{ asset('js/chartDrawDatasets.js') }}"></script>
    <script src="{{ asset('js/labelsForMainChart.js') }}"></script>
    <script src="{{ asset('js/loadDataForChart.js') }}"></script>
    
    <script>
        loadDataForChart("/registrations/sendData", "myChart");
    </script>
{% endblock %}
