{% extends 'base.html.twig' %}

{% block body %}
    <header>
        
    </header>
    
    <nav class="MainMenu">
        <ul>
            <li>Menu</li>
            <li>Artykuły</li>
            <li>O nas</li>
        </ul>
    </nav>
    <a href="/registrations/checkDouble"><button type="button">Wprowadź nowe dane</button></a>
    <div>
        {{ render(controller('FOSUserBundle:Security:login')) }}
    </div>
    
    <div class="chart-container" style="position: relative; height:80vh; width:80vw">
        <h1>Wykres1</h1>
        
        <canvas id="myChart"></canvas>
        
    </div>
    
    {% include "@Web/svg/mapapolski.svg" %}
    
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/mapapolski.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/Chart.js') }}"></script>
    <script src="{{ asset('js/chartDraw.js') }}"></script>
    <script src="{{ asset('js/chartDrawDatasets.js') }}"></script>
    <script src="{{ asset('js/labelsForMainChart.js') }}"></script>
    <script src="{{ asset('js/loadDataForChart.js') }}"></script>
    <script src="{{ asset('js/label.js') }}"></script>
    <script src="{{ asset('js/labelMakeConditions.js') }}"></script>
    
    <script>
        $(document).ready(function() {
            loadDataForChart("main_chart/sendData", "myChart");
        });    
    </script>
{% endblock %}
