{% extends 'base.html.twig' %}

{% block body %}
    <h1>Engine</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ engine.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ engine.type }}</td>
            </tr>
            <tr>
                <th>Displacement</th>
                <td>{{ engine.displacement }}</td>
            </tr>
            <tr>
                <th>Powerkw</th>
                <td>{{ engine.powerkW }}</td>
            </tr>
            <tr>
                <th>Powerhp</th>
                <td>{{ engine.powerHP }}</td>
            </tr>
            <tr>
                <th>Torque</th>
                <td>{{ engine.torque }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('engine_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('engine_edit', { 'id': engine.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
