{% extends "base.html.twig" %}

{% block title %}AppBundle:MapChart:showMap{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/mapapolski.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('js/jquery-ui/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>Welcome to the MapChart:showMap page</h1>

    <div id="slider-range"></div>
{% include "@App/MapChart/input_map.html.twig" %}
{% include "@Web/svg/mapapolski.svg" %}


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/mapChart/dataMapTivLoad.js') }}"></script>
    <script src="{{ asset('js/mapChart/dataMapTivCss.js') }}"></script>
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/mapChart/slideRange/slideRangeLoad.js') }}"></script>
    <script src="{{ asset('js/mapChart/slideRange/ajaxConnection.js') }}"></script>
    <script src="{{ asset('js/mapChart/slideRange/rangeSlider.js') }}"></script>
    <script>
        $(document).ready(function() {
            var inputData;
            
            inputData = {
                regYearMin: 2007,
                regMonthMin: 1,
                regYearMax: 2007,
                regMonthMax: 12
            };                        
            dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            
            $("#YTD").click(function(){
                inputData = ytd();
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
        
            $("#Rolling12").click(function(){
                inputData = rolling12();
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
            
            $("#QTD").click(function(){
                inputData = qtd();
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
            
            $("#Rolling3").click(function(){
                inputData = rolling3();
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
            

            
            //$("#slider-range").slider({
            //    range: true,
            //    slide: function( event, ui ) {
            //        console.log(ui.values);
            //    }
            //});
            
            //slideRangeLoad("/mapChart/slideRangeSource");
            
            ajaxConnection("/mapChart/slideRangeSource", 0, function(){ rangeSlider("#slider-range") });
    });
    
    </script>

{% endblock %}