{% extends "base.html.twig" %}

{% block stylesheetsForMapChart %}
    <link href="{{ asset('css/mapChart/mapapolski.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/mapChart/mapChartMS.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block javascriptLinkForMapChart %}
    <script src="{{ asset('js/mapChart/dataMapLoad.js') }}"></script>
    <script src="{{ asset('js/mapChart/dataMapMSCss.js') }}"></script>
    <script src="{{ asset('js/mapChart/dataMapTivCss.js') }}"></script>
    <script src="{{ asset('js/inputForChart/createInputMapChart.js') }}"></script>
    <script src="{{ asset('js/mapChart/sendInputMapChart.js') }}"></script>
    <script src="{{ asset('js/mapChart/countyClick/countyClickLoad.js') }}"></script>
    <script src="{{ asset('js/lineChart/Chart.js') }}"></script>
    <script src="{{ asset('js/lineChart/lineChartDraw.js') }}"></script>
    <script src="{{ asset('js/lineChart/lineChartDrawDatasets.js') }}"></script>
    <script src="{{ asset('js/lineChart/labelsForLineChart.js') }}"></script>
    <script src="{{ asset('js/lineChart/loadDataForLineChart.js') }}"></script>
    <script src="{{ asset('js/lineChart/labelMakeConditions.js') }}"></script>
    <script src="{{ asset('js/inputForChart/inputButtonsManage.js') }}"></script>
    <script src="{{ asset('js/inputForChart/inputButtonsDefinition.js') }}"></script>
    <script src="{{ asset('js/mapChart/dataMapTopCss.js') }}"></script>
    <script src="{{ asset('js/mapChart/countyClick/sortTable.js') }}"></script>
    <script src="{{ asset('js/inputForChart/inputDataSet.js') }}"></script>
    <script src="{{ asset('js/mapChart/hover/mapChartHover.js') }}"></script>
{% endblock %}

{% block bodyForMpaChart %}
    <div id="loadingImage"><h1>LOADING</h1></div>
    <div id="inputForm">
        <div>połącz powiaty <input id="combineCounty" type="checkbox"/></div>
        <div id="inputButtons"></div>
        <div id="sliderContainer"></div>
    </div>
    <div id="regionPicker">
        {% include "@App/Teryt/region_picker.html.twig" %}
    </div>    
    <div id="dateRange">
        <p>Zakres dat:</p>
        <p id="regMonthMin"></p><p>/</p><p id="regYearMin"></p>
        <p>-</p>
        <p id="regMonthMax"></p><p>/</p><p id="regYearMax"></p>        
    </div>
    <div id="mapChart">
        {% include "@Web/svg/polandCounty.svg" %}
    </div>
    <div id="mapDetails"></div>
    <div id="lineChartContainer"></div>
    
{% endblock %}

{% block javascriptsForMapChart %}
    <script>
        $(document).ready(function() {
            $("#loadingImage").hide();
            let inputData, siteTitle, urlList;
            siteTitle = $("title").first().text();
            urlList = {
                'Map MS': '/mapChart/loadDataMS',
                'Map TIV': '/mapChart/loadDataTiv',
                'Map TOP': '/mapChart/loadDataTopMake'
            };
            inputButtonsDefinition(siteTitle);            
            inputButtonsManage(urlList, siteTitle);
            updateDateRange(ytd());
            $("#YTD").prop("disabled", true);
            dataMapLoad(urlList, siteTitle);
            $(".st0, .st1").click(function() {
                inputData = inputDataSet();
                inputData.county = this.id;
                console.log(inputData);
                countyClickLoad("/mapChart/loadCountyDetails", inputData);
                checkBoxLineChart("#lineChartForMap", inputData);
                
            });
            mapChartHover();
            
        });
    </script>
{% endblock %}