{% extends "base.html.twig" %}

{% block title %}AppBundle:MapChart:showMap{% endblock %}
    
{% block stylesheets %}
    <link href="{{ asset('css/mapChart/mapapolski.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/jquery-ui/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/mapChart/mapChartMS.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="inputForm"></div>
    <div id="slider-range"></div>
    <div id="mapChart">
            {% include "@Web/svg/mapapolski.svg" %}        
    </div>
    <div id="mapDetails">
         
                
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/mapChart/dataMapMSLoad.js') }}"></script>
    <script src="{{ asset('js/mapChart/dataMapMSCss.js') }}"></script>
    <script src="{{ asset('js/mapChart/dataMapMS.js') }}"></script>
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/mapChart/createInputMapChart.js') }}"></script>
    <script src="{{ asset('js/mapChart/sendInputMapChart.js') }}"></script>
    <script src="{{ asset('js/mapChart/countyClick/countyClickLoad.js') }}"></script>
    <script src="{{ asset('js/mapChart/hover/mapChartHover.js') }}"></script>

    <script>
        $(document).ready(function() {        
            var input = [
                "Make",
                "YTD",
                "Rolling12",
                "QTD",
                "Rolling3",
                "Customize"
            ];
            createInputMapChart(
                    input, 
                    "#inputForm", 
                    "#slider-range", 
                    "/mapChart/slideRangeSource", 
                    "/mapChart/makeListSource"
            );
            var inputData = {
                make: "JOHNDEERE",
                regYearMin: 2007,
                regMonthMin: 1,
                regYearMax: 2007,
                regMonthMax: 12
            };            
            dataMapMSLoad("/mapChart/loadDataMS", inputData);
            
            $("#makeSubmit").click(function(){
                var make = $("#makeList").val();
                inputData.make = make;
                console.log(inputData);
                dataMapMSLoad("/mapChart/loadDataMS", inputData);                
            });
            $("#YTD").click(function(){
                var make = $("#makeList").val();
                inputData = ytd();
                inputData.make = make;
                console.log(inputData);
                dataMapMSLoad("/mapChart/loadDataMS", inputData);
            });
            $("#Rolling12").click(function(){
                var make = $("#makeList").val();
                inputData = rolling12();
                inputData.make = make;
                console.log(inputData);
                dataMapMSLoad("/mapChart/loadDataMS", inputData);
                mapChartDetailsCssUpdate(inputData);
            });
            $("#QTD").click(function(){
                var make = $("#makeList").val();
                inputData = qtd();
                inputData.make = make;
                console.log(inputData);
                dataMapMSLoad("/mapChart/loadDataMS", inputData);
            });
            $("#Rolling3").click(function(){
                var make = $("#makeList").val();
                inputData = rolling3();
                inputData.make = make;
                console.log(inputData);
                dataMapMSLoad("/mapChart/loadDataMS", inputData);
            });
            $("#submitCustomDates").click(function(){
                var make = $("#makeList").val();
                inputData = customize("#hiddenRangeDate");
                inputData.make = make;
                console.log(inputData);
                dataMapMSLoad("/mapChart/loadDataMS", inputData);
            });
            $(".st0, .st1").click(function(){
                inputData.county = this.id;
                console.log(inputData);
                countyClickLoad("/mapChart/loadCountyDetails", inputData, 0);
                
                
            });



        });    
    </script>
{% endblock %}
