{% extends "base.html.twig" %}

{% block title %}AppBundle:MapChart:showMap{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/mapapolski.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/jquery-ui/jquery-ui.min.css') }}" type="text/css" rel="stylesheet" />
    <link href="{{ asset('css/mapChart/mapChartMS.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block body %}
    <div id="inputForm"></div>
    <div id="slider-range"></div>
    <div id="mapChart">
            {% include "@Web/svg/mapapolski.svg" %}        
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/mapChart/dataMapTivLoad.js') }}"></script>
    <script src="{{ asset('js/mapChart/dataMapTivCss.js') }}"></script>
    <script src="{{ asset('js/jquery-ui/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('js/mapChart/createInputMapChart.js') }}"></script>
    <script src="{{ asset('js/mapChart/sendInputMapChart.js') }}"></script>
    <script>
        $(document).ready(function() {
            var input = [
                "YTD",
                "Rolling12",
                "QTD",
                "Rolling3",
                "Customize"
            ];            
            createInputMapChart(
                    input, 
                    "#inputForm", 
                    "#slider-range", 
                    "/mapChart/slideRangeSource", 
                    "/mapChart/makeListSource");
                    
            var inputData = {
                regYearMin: 2007,
                regMonthMin: 1,
                regYearMax: 2007,
                regMonthMax: 12
            };                        
            dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            
            $("#YTD").click(function(){
                inputData = ytd();
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
        
            $("#Rolling12").click(function(){
                inputData = rolling12();
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
            
            $("#QTD").click(function(){
                inputData = qtd();
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
            
            $("#Rolling3").click(function(){
                inputData = rolling3();
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
            
            $("#submitCustomDates").click(function(){
                inputData = customize("#hiddenRangeDate");
                console.log(inputData);
                dataMapTivLoad("/mapChart/loadDataTiv", inputData);
            });
        });
    
    </script>
{% endblock %}