{% extends 'base.html.twig' %}

{% block body %}
    <h1>Make</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ make.id }}</td>
            </tr>
            <tr>
                <th>Make</th>
                <td>{{ make.make }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('make_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('make_edit', { 'id': make.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
